# Backend
OPENROUTER_API_KEY=
SEARCHAPI_KEY=

# DEFAULT_MODEL=google/gemini-2.5-pro
DEFAULT_MODEL=z-ai/glm-4.6
OPENROUTER_PROVIDER_SORT=latency
RESEARCH_AGENT_TEMPERATURE=0.7

# Translate - Assistant
LLM_TRANSLATE=google/gemini-2.5-flash

LLM_SUMMARIZE=google/gemini-2.5-flash

FRED_API_KEY=

# Google Auth
GOOGLE_CLIENT_ID=759093208566-ieftrljcn9cio4icdrn9q2bd9kn9npfo.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# ----

# Frontend
DEEPSEARCH_API_KEY=
SEARCHAPI_KEY=
RESEARCH_API_BASE_URL=http://localhost:5588

NEXT_PUBLIC_RESEARCH_API_BASE_URL=http://localhost:5588
FRONTEND_URL=http://localhost:5054
BACKEND_URL=http://localhost:5588
